.Rproj.user
.Rhistory
.RData
.Ruserdata
C:\Users\jbell\AppData\Local\Temp\RtmpcnAnc4/rdhs/rdhs.json
ne_10m_admin_0_countries.cpg
countries.zip
ne_10m_admin_0_countries.README.html
ne_10m_admin_0_countries.VERSION.txt
ne_10m_admin_0_countries.prj
ne_10m_admin_0_countries.dbf
ne_10m_admin_0_countries.shp
ne_10m_admin_0_countries.shx
C:\Users\jbell\AppData\Local\Temp\RtmpgJAHda/rdhs/rdhs.json
